body{ width:100%; margin:0px; padding:0px; font-size:500%; }
h1{ text-align:center; padding:0px; margin:0px; font-size:2em; }
.campoForm, .botonForm{ width:100%; text-align:center; margin:0px; padding:0px; font-size:1em; }
.campoForm input{ width:60%; margin-bottom:1%; padding:2px; font-size:4em; }
.botonForm input{ width:60%; padding:2px; font-size:4em; }
